.news{
   background: #222222;
}
.news-section {
  padding: 2rem;
  background: #222222;
  max-width: 1000px;
  margin: 0 auto;
}

.news-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  min-height: 200px; 
}

.news-header h2 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
}

.subtitle {
  font-size: 0.875rem;
  color: #e6e6e6;

}

.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-height: 450px; 
  overflow: auto;
}

.news-card {
  background: #e9ecef;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-date {
  background: #ffb400;
  color: #000000;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.news-image {
  width: 100%;
  height: auto;
  display: block;
}

.news-content {
  padding: 1rem;
}

.news-title {
  background: #000000;
  color: #ffb400;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  text-align: center;
}

.news-text {
  font-size: 0.875rem;
  color: #333;
  line-height: 1.4;
}


@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: 1fr;
  }

  .news-header h2 {
    font-size: 1.5rem;
  }

  .news-title {
    font-size: 1rem;
  }

  .news-text {
    font-size: 0.75rem;
  }
}


@media (max-width: 480px) {
  .news-section {
    padding: 1rem;
  }

  .news-header {
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem
  }

  .news-header h2 {
    font-size: 1.25rem;
  }

  .subtitle {
    font-size: 0.75rem;
  }

  .news-title {
    font-size: 0.875rem;
  }

  .news-text {
    font-size: 0.7rem;
  }
}